// TYPOGRAPHY SETTINGS
$baseline-unit: 14px;
$fa-font-path: 'assets/fonts/fontawesome';

$layout-spacing: 4rem;
$sidebar-width: 300px;
$layout-side-width: 400px;

$typography-spacing: 3rem;

// Variation Variables
$sm-color-secondary: #FF6000;
$sm-color-tertiary: #FFF4E8;
$theme-accent-color: #FF6000;
$theme-text-color: #333131;
$theme-border-color: $color-gray-90;
$theme-links-color: $color-gray-10;

$input-padding: (13em/17) (19em/17) (15em/17);

$theme-background-color: #FFFCFC;

$theme-body-font-family: 'Charis', serif;
$theme-body-font-family-alt: $theme-body-font-family;

$theme-headings-font-family: 'HK Grotesk', sans-serif;

// ----------------------------------------
// BUTTONS
// ========================================
$btn-padding: 1.1em 1.75em;
$btn-background: $sm-color-secondary;
$btn-font: (
  font-family: $theme-headings-font-family,
  font-size: 16px,
  line-heigh: 1.2
);
// ----------------------------------------

// ----------------------------------------
// HEADER
// ========================================
// Layout
// ----------------------------------------
$admin-bar-height: 46px;
$logo-height: 140px;
$logo-mobile-height: 30px;
$header-height: 50px;
$header-mobile-height: 60px;
$header-links-spacing: 56px;
$header-sides-spacing: 30px;
// ----------------------------------------
// Colors
// ----------------------------------------
$header-links-color: $theme-text-color;
$header-links-active-color: $sm-color-secondary;
$header-background-color: $sm-color-tertiary;

$header-sticky-links-color: $sm-color-tertiary;
$header-sticky-links-active-color: $color-white;
$header-sticky-background-color: $sm-color-secondary;
// ----------------------------------------
// Fonts
// ----------------------------------------
$logo-font: (
  font-family: $theme-headings-font-family,
  font-size: 140px,
  line-height: 1,
  font-weight: normal,
  cap-height: .74
);

$header-font: (
  font-family: $theme-headings-font-family,
  font-size: 16px,
  font-weight: normal,
  line-height: 1
);
// ----------------------------------------



// ----------------------------------------
// CONTENT
// ========================================
// Layout
// ----------------------------------------
$content-container-width: 1300px;
$content-sides-spacing: 70px;
$content-vertical-spacing: 0;
$content-width: 720px;
$content-border-width: 0;
$content-border-color: transparent;
// ----------------------------------------
// Colors
// ----------------------------------------
$page-title-color: $theme-links-color;
$body-text-color: $theme-text-color;
$body-link-color: $theme-text-color;
$body-link-active-color: $theme-links-color;
$body-link-highlight-color: $theme-background-color;
$h1-color: $theme-text-color;
$h2-color: $theme-text-color;
$h3-color: $theme-text-color;
$h4-color: $theme-text-color;
$h5-color: $theme-text-color;
$h6-color: $theme-text-color;
$content-background-color: $theme-background-color;
// ----------------------------------------
// Fonts
// ----------------------------------------
$blockquote-font: (
  font-family: $theme-headings-font-family,
  font-size: 50px,
  line-height: 1.2,
  font-weight: 700,
  cap-height: .75,
);

$body-font: (
  font-family: $theme-body-font-family,
  font-size: 20px,
  line-height: 1.5,
);

$page-title-font: (
  font-family: $theme-headings-font-family,
  font-size: 50px,
  line-height: 1.2,
  font-weight: 700,
  spacing-top: 1rem,
  spacing-bottom: 1rem,
  cap-height: .75,
);

/* stylelint-disable */
$h1: (
  font-family: $theme-headings-font-family,
  font-size: 36px,
  line-height: 1.22,
  font-weight: 700,
  //spacing-top: 1.5rem,
  spacing-bottom: 2.5rem,
  cap-height: 0.75
);
$h1-color: $theme-text-color;

$h2: (
  font-family: $theme-headings-font-family,
  font-size: 26px,
  line-height: 1.19,
  font-weight: 700,
  //spacing-top: 1.5rem,
  spacing-bottom: 2.5rem,
  cap-height: 0.75
);
$h2-color: $theme-text-color;

$h3: (
  font-family: $theme-headings-font-family,
  font-size: 21px,
  line-height: 1.19,
  font-weight: 700,
  //spacing-top: 1.5rem,
  spacing-bottom: 2.5rem,
  cap-height: 0.7
);
$h3-color: $theme-text-color;

$h4: (
  font-family: $theme-headings-font-family,
  font-size: 16px,
  line-height: 1.19,
  font-weight: 500,
  //spacing-top: 1.5rem,
  spacing-bottom: 2.5rem,
  cap-height: 0.7
);
$h4-color: $theme-text-color;

$h5: (
  font-family: $theme-headings-font-family,
  font-size: 14px,
  line-height: 1.07,
  font-weight: normal,
  letter-spacing: (1em/14),
  text-transform: uppercase,
  //spacing-top: 1.5rem,
  spacing-bottom: 2rem,
  cap-height: 0.65
);
$h5-color: $theme-text-color;

$h6: (
  font-family: $theme-headings-font-family,
  font-size: 13px,
  line-height: (16/13),
  font-weight: normal,
  letter-spacing: (1em/13),
  text-transform: uppercase,
  //spacing-top: 1.5rem,
  spacing-bottom: 1rem,
  cap-height: 0.55
);
$h6-color: $sm-color-secondary;
/* stylelint-enable */

$cite-font: map-merge($h5, (
  spacing-top: false,
  spacing-bottom: false,
  cap-height: false
));

$typography-intro-font: (
  font-size: 24px,
  letter-spacing: (-.5em/24),
);

$typography-intro-large-font: (
  font-size: 36px,
);

// post meta
// @todo
$meta-title-font: (
  font-family: map-get($header-font, font-family),
  font-size: 14px,
  line-height: (17/14),
  font-weight: 700,
  text-transform: uppercase,
  letter-spacing: .07em,
);

$meta-category-items-font: (
  font-family: map-get($header-font, font-family),
  font-size: 13px,
  line-height: (16/13),
  font-weight: 500,
  text-transform: uppercase,
  letter-spacing: .077em,
);

$meta-tags-items-font: (
  font-family: map-get($header-font, font-family),
  font-size: 17px,
  line-height: (20/17),
  text-transform: lowercase,
);
/* stylelint-disable */

// ----------------------------------------
// CARD SETTINGS
// ========================================
$card-letter-color: #000;
$card-letter-hover-color: #FFF;
$card-letter-hover-opacity: 0.7;
$card-separator-color: $sm-color-secondary;

$card-letter-font: (
  font-family: $theme-headings-font-family,
  font-size: 250px,
  line-height: 1.735,
  font-weight: 300,
  text-transform: uppercase
);

$card-gutter: 1.5rem;
$card-content-spacing: 1.5rem;
// ----------------------------------------
/* stylelint-enable */


// ----------------------------------------
// BLOG
// ========================================
// Layout
// ----------------------------------------
$blog-grid-width: 1300px;
$blog-sides-spacing: 60px;
$blog-grid-layout: regular;
$blog-grid-packed-ratio: 2.275;
$blog-grid-aspect-ratio: 4/3;
$blog-grid-columns: 3;
$blog-grid-vertical-spacing: 40px;
$blog-grid-horizontal-spacing: 40px;
$blog-content-position: below;
$blog-content-alignment: left;
$blog-title-visibility: true;
$blog-excerpt-visibility: true;
// ----------------------------------------
// Colors
// ----------------------------------------
$blog-card-title-color: $theme-text-color;
$blog-primary-meta-color: $sm-color-secondary;
$blog-secondary-meta-color: $sm-color-secondary;
$blog-thumbnail-background: $header-background-color;
$blog-thumbnail-background-opacity: 1;
// ----------------------------------------
// Fonts
// ----------------------------------------
$blog-card-title-font: (
  font-family: $theme-headings-font-family,
  font-size: 21px,
  line-height: 1.3,
  font-weight: 700,
  cap-height: .74
);

$blog-card-meta-primary-font: (
  font-family: $theme-headings-font-family,
  font-size: 13px,
  line-height: 1.1,
  font-weight: normal,
  letter-spacing: .1em,
  text-transform: uppercase
);

$blog-card-excerpt-font: (
  font-family: $theme-body-font-family,
  font-size: 16px,
  line-height: 1.5,
  font-weight: 400,
  text-transform: none,
);

$blog-card-meta-secondary-font: $blog-card-meta-primary-font;
// ----------------------------------------



// ----------------------------------------
// FOOTER
// ========================================
// Layout
// ----------------------------------------
$footer-top-spacing: 8rem;
$footer-bottom-spacing: 8rem;
// ----------------------------------------
// Colors
// ----------------------------------------
$footer-text-color: $color-white;
$footer-links-color: $color-white;
$footer-background-color: #1C1C1C;
// ----------------------------------------

$arrow-caret-svg: 'assets/images/arrow-caret.svg';
$select-arrow-svg: 'assets/images/select-arrow.svg';
$checkbox-svg: 'assets/images/checkbox.svg';
$search-svg: 'assets/images/icon-search.svg';
