
.woocommerce-header,
.woocommerce-product-archive,
.woocommerce-product-header,
.single-product .woocommerce-notices-wrapper {
    position: relative;
    transform: translateZ(0);

    &:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: calc(50% - 50vw);
        left: calc(50% - 50vw);
        bottom: 0;
        background-color: $sm-color-tertiary;
        z-index: -1;
    }
}

@include below( lap ) {
    .woocommerce-product-header:after {
        content: none;
    }
}

.c-product-main {
    .c-btn--sale-flash {
        z-index: 20;
    }
}

.woocommerce .product .images.woocommerce-product-gallery {
    position: relative;
    z-index: 10;
}

.woocommerce-header:after,
.single-product .woocommerce-notices-wrapper:after,
.woocommerce-product-header:after {
    @include spacing( top, -4rem );
}

.single-product .woocommerce-notices-wrapper + .product .woocommerce-product-header:after {
    @include spacing( top, -40px );
}

.woocommerce-product-header:after,
.woocommerce-product-header .header-dropcap {
    @include spacing( bottom, -1.5rem );
}

.woocommerce-product-archive:after {
    @include spacing( height, 12rem );
    bottom: auto;
}

.c-product-main .woocommerce-product-rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include specific(2) {
        margin-bottom: 0;
    }

    .star-rating {
        letter-spacing: .2em;
        font-size: 1.25em;

        width: auto;
        margin: 0 10px .1em 0;
        float: none;

        &:before {
            position: static;
            color: inherit;
            float: none;
            height: auto;
        }
    }
}

.star-rating span {
    white-space: nowrap;
}

.u-underlined-links .woocommerce-review-link {
    text-decoration: none;
}

.woocommerce-product-header {
    > .header-dropcap {
        overflow: hidden;
        margin-top: 0;
        margin-bottom: 0;
        @include spacing( top, 4rem );
        left: -.3em;
    }

    > :not(.header-dropcap) {
        position: relative;
        z-index: 20;
    }
}

.woocommerce #respond input#submit {
    @include btn;
}


.single-product .site-content .u-container-sides-spacing {
    overflow: hidden;
}