.blog {
    .site-main {
        position: relative;
	    z-index: 11;
        overflow: hidden;

        #posts-container { margin-top: 16px; }

    }
}

.home {

    .site-main {
        position: relative;

        > * {
            position: relative;
        }
    }
}
