.screen-reader-text {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  word-wrap: normal !important; /* many screen reader and browser combinations announce broken words as they would appear visually */
}

p:empty {
  display: none;
}

@include below(lap) {
  body.nav--is-open {
    overflow: hidden;
  }
}

.c-border {
  display: none; // Hide it temporary and use the body { margin: 10px }
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: map_get($zindex, modal) + 100;

  border-width: 10px;
  border-style: solid;
  border-color: $color-gray-90;

  pointer-events: none;

  .admin-bar & {
    top: 32px;
  }
}

.entry-content figure img {
  max-width: 100%;
}

@include below(xsmall) {
  .c-gallery--blog .c-gallery__item {
    width: 100%;
  }
}

// set proper space between archive header and search widget
.entry-header + .widget_search {
  margin-top: 0;
}

.entry-header {

  + .c-gallery {
    margin-top: 0;

    .search & {
      @include spacing(margin-top, 1rem);
    }
  }
}

.single.entry-image--portrait .entry-header:after {
  content: none;
}

.search .entry-header .search-form {
  @include spacing(margin-top, 1rem);
}

// remove default links styling from jetpack slideshow
.slideshow-controls a {
  box-shadow: none !important;
}

.single-main {
    @include spacing(padding-bottom, 4rem);
}

@media only screen {
  html:not(.is-ready) {
    opacity: 0;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.is-customizer-preview .entry-header {

  .posted-on,
  .cats {
    overflow: initial !important;
  }
}

// overwrite components default value for position
@include below(lap) {

  .c-navbar__content {
    position: fixed;
  }

  body.has-border {
    margin: 0;
  }
}

#wpadminbar {
  transform: translateZ(0);
}

.entry-thumbnail {
  position: relative;
}

// margin-bottom coming from default jetpack styling
.tiled-gallery[class] {
  margin-bottom: 0;
}

.header-meta > :not(:last-child):after {
  content: '\2022';
  display: inline-block;
  margin: 0 10px;
}

.entry-aside,
.entry-footer,
.widget-area,
.comments-area,
.related-posts-container {
  @include fontsize(16px);
}

// select2 gets offset wrong on html because of the admin bar margin
// by setting position: relative to body we force select2 to use it as reference for positioning the dropdown
body {
  position: relative;
}

// Firefox slick 'official' fix
* {
  min-height: 0;
  min-width: 0;
}

.o-layout__main:first-child + .o-layout__side {
  margin-top: 0;
}

.related-posts-title {
  text-align: center;
}

.entry-header > :not(.header-dropcap) {
  position: relative;
  z-index: 10;
}

// see #395
.sw[class] {
  font-style: normal;
}

.page,
.single {
  .entry-content::after {
    content: " ";
    display: table;
    clear: both;
  }
}

//Removed plus sign from menu with children
.lite-version .menu--primary li[class*=children]>a:after {
  display: none;
}

.c-author__links {

  a, a:hover {
    color: inherit;
    text-decoration: none;
  }

  a {
    transition: opacity .2s ease-out;
  }

  a:hover {
    opacity: 0.5;
  }
}

.c-author__footer[class] {
  color: inherit;
}

.c-author__description[class] {
  @include spacing(margin-bottom, 1.5rem);
}

.c-author {
  @include spacing(margin-top, 4rem);
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.intro[class] {
  font-size: 1.2em;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: -0.01em;
}

.entry-content .cats__title {
  flex-basis: 100%;
  @include spacing(margin-bottom, 10px);
}

.cats,
.tags,
.sharedaddy {

  &:not(:last-child) {
    @include spacing(margin-bottom, 2rem);
  }
}

.cats,
.tags {

  * + &[class] {
    @include spacing(margin-top, 2rem);
  }
}

* + .sharedaddy[class] {
  @include spacing(margin-top, 3rem);
}

.entry-content .tags > a {
  font-style: inherit;
}

#content .sharedaddy[class] .sd-button {
  padding: 0.71em 1.1em 0.69em 1.3em;
}

.single,
.page {
  .entry-header > .header-meta {
    @include spacing(padding-top, 1.5rem);
  }
}
