.screen-reader-text {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  word-wrap: normal !important; /* many screen reader and browser combinations announce broken words as they would appear visually */
}

p:empty {
  display: none;
}

@include below(lap) {
  body.nav--is-open {
    overflow: hidden;
  }
}

.c-border {
  display: none; // Hide it temporary and use the body { margin: 10px }
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: map_get($zindex, modal) + 100;

  border-width: 10px;
  border-style: solid;
  border-color: $color-gray-90;

  pointer-events: none;

  .admin-bar & {
    top: 32px;
  }
}

.entry-content figure img {
  max-width: 100%;
}

@include below(xsmall) {
  .c-gallery--blog .c-gallery__item {
    width: 100%;
  }
}

// set proper space between archive header and search widget
.entry-header + .widget_search {
  margin-top: 0;
}

.entry-header {

  + .c-gallery {
    margin-top: 0;

    .search & {
      @include spacing(margin-top, 1rem);
    }
  }
}

.single.entry-image--portrait .entry-header:after {
  content: none;
}

.search .entry-header .search-form {
  @include spacing(margin-top, 1rem);
}

// remove default links styling from jetpack slideshow
.slideshow-controls a {
  box-shadow: none !important;
}

.widget--stripe {
  position: relative;
  @include spacing(padding-bottom, 4rem);
  @include spacing(margin-top, 4rem);

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    width: calc(50vw - 50%);
    height: 100%;
    background-color: inherit;
    z-index: 1;
  }

  &:after {
    left: 100%;
  }

  &:before {
    right: 100%;
  }
}

.o-layout__main,
.o-layout__side,
.o-layout__full {

  &:not(.widget-area) {
    @include spacing(padding-top, 4rem);
  }
}

.o-layout {
  @include spacing(padding-bottom, 4rem);

  &:not(.o-layout--blog) > .widget-area {

    &.o-layout__full:last-child {

      > .widget:last-child {
        @include spacing(margin-bottom, -4rem);
        &:nth-of-type(2n) {
          margin-bottom: 0;
        }
      }
    }
  }

  .widget:not(.widget_categories):not(.highlighted):not(.widget_promo_box):not(.jetpack_subscription_widget) {
    @include spacing(padding-top, 4rem);

    @include above(lap) {
      .u-widget-title-sideways & .widget__title {
        @include spacing(margin-bottom, -4rem);
      }
    }
  }

  .widget.highlighted,
  .widget.dark {
    border-top: 0 solid transparent;
    @include spacing(border-top-width, 4rem);
    background-clip: padding-box;
  }

  .widget_promo_box,
  .widget_categories {
    @include spacing(margin-top, 4rem);
  }
}

// More Hacks
.o-layout .widget-area--footer-featured > .widget:nth-of-type(2n+1):last-child {

  &:not(.highlighted):not(.widget_promo_box):not(.jetpack_subscription_widget) {
    margin-bottom: 0;
  }
}

.widget:nth-of-type(2n),
.highlighted,
.widget_promo_box,
.jetpack_subscription_widget {

  .o-layout .o-layout__full & + & {
    margin-top: 1px;
  }
}

.singular .content-area + .u-container-sides-spacing .o-layout__full {

  > .highlighted,
  > .widget_promo_box,
  > .jetpack_subscription_widget {
    &:first-child {
      margin-top: 1px;
    }
  }
}

.single-main {
    @include spacing(padding-bottom, 4rem);
}

// Helper Classes for Widgets
// .dark: swith the colors to dark
.widget.dark {
  @extend .widget--stripe;
  background-color: $footer-background-color;
  color: $footer-text-color;

  .widget__title,
  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }

}

// Spacings
.highlighted,
.dark {
  @include spacing(padding, 3rem);

  .o-layout--blog .o-layout__side & {
    @include spacing(padding, 2rem);
  }



  @include above(lap) {

    &.widget--full {
      padding: 4rem;
    }
  }
}

.widget_promo_box--dark,
.dark,
.highlighted {
  & + &.widget {
    margin-top: 0 !important; //it's overwritten by .o-layout__full selectors below
    border-top: 0;
  }
}

.o-layout__full:last-child {
  &:nth-of-type(2n) .widget:nth-of-type(2n+1),
  &:nth-of-type(2n+1) .widget:nth-of-type(2n) {
    margin-bottom: 0;
  }
}

.o-layout__full:nth-of-type(2n) .widget:nth-of-type(2n+1),
.o-layout__full:nth-of-type(2n+1) .widget:nth-of-type(2n) {
  @extend .widget--stripe;
  position: relative;

  &:not(.widget_promo_box--dark):not(.dark) {
    background-color: $header-background-color;

    .slick-list:after {
      background-color: $header-background-color;
    }
  }

  a {
    box-shadow: none;
  }

  &.widget_categories {
    @include spacing(padding-top, 2rem);
    @include spacing(padding-bottom, 2rem);
    border: 0;
  }
}

.widget_categories_image_grid,
.c-card__frame,
.entry-thumbnail {

  img {
    transition: opacity .15s ease-out;

    &:not(.is-loaded):not(.emoji) {
      opacity: 0;
    }
  }
}

@media only screen {
  html:not(.is-ready) {
    opacity: 0;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.is-customizer-preview .entry-header {

  .posted-on,
  .cats {
    overflow: initial !important;
  }
}

// overwrite components default value for position
@include below(lap) {

  .c-navbar__content {
    position: fixed;
  }

  body.has-border {
    margin: 0;
  }
}

#wpadminbar {
  transform: translateZ(0);
}

.entry-thumbnail {
  position: relative;
}

// margin-bottom coming from default jetpack styling
.tiled-gallery[class] {
  margin-bottom: 0;
}

$header-meta-separator: '\2022' !default;

.header-meta > :not(:last-child):after {
  content: $header-meta-separator;
  display: inline-block;
  margin: 0 10px;
}

.entry-aside,
.entry-footer,
.widget-area,
.comments-area,
.related-posts-container {
  @include fontsize(16px);
}

// select2 gets offset wrong on html because of the admin bar margin
// by setting position: relative to body we force select2 to use it as reference for positioning the dropdown
body {
  position: relative;
}

// Firefox slick 'official' fix
* {
  min-height: 0;
  min-width: 0;
}

.o-layout__main:first-child + .o-layout__side {
  margin-top: 0;
}

.related-posts-title {
  text-align: center;
}

.entry-header > :not(.header-dropcap) {
  position: relative;
  z-index: 10;
}

// see #395
.sw[class] {
  font-style: normal;
}

.page,
.single {
  .entry-content::after {
    content: " ";
    display: table;
    clear: both;
  }
}

//Removed plus sign from menu with children
.lite-version .menu--primary li[class*=children]>a:after {
  display: none;
}
