@import "../../components/base/scss/defaults";

@import "../../variations/felt/scss/settings";

@import "typeline-config-editor";

$editor-style: true;

@import "../../components/base/scss/editor-style";
@import "../../components/featured-image/scss/editor-style";
@import "../../components/footer/scss/editor-style";
@import "../../components/gallery-settings/scss/editor-style";
@import "../../components/header/scss/editor-style";
@import "../../components/hero/scss/editor-style";
@import "../../components/multipage/scss/editor-style";

._hero_content_description {
    color: white;
    padding-top: 50px;
}
