// julia oh well
.dropcap {
  @include leading-map($page-title-font);
  float: left;
  padding-right: 0.1em;
  margin-top: 0;
  margin-left: -0.05em;
  margin-bottom: -.1em;
  text-shadow: 3px 3px 0 rgba(56, 60, 80, 0.22);

  &[class] {
    font-size: 5.4em;
    line-height: 1;
    margin-bottom: -15px;
  }

  &[class]:before,
  &[class]:after {
    content: none;
  }
}
