.c-card__meta[class][class] {

  a {
    text-decoration: none;
    background: none;
    padding: 0;
    color: inherit;
  }

  a:hover {
    opacity: .6;
  }
}

.c-card__frame {

  .aspect-ratio-portrait & {
    padding-top: percentage(4/3);
  }

  .aspect-ratio-square & {
    padding-top: 100%;
  }

  .aspect-ratio-landscape & {
    padding-top: percentage(3/4);
  }

  .widget_featured_posts_slideshow & {
    padding-top: 100%;
  }
}

.c-card__link,
.c-card__frame img {
  display: block;
}

.c-card__content {

  .c-gallery--title-overlay & {
    margin-top: 0;
    background-color: rgba(#000000, .2);

    & > * {
      width: 100%;
    }

    .c-card__excerpt {
      overflow: hidden;
    }
  }
}

.c-card__excerpt {

  &:empty {
    display: none;
  }
}

.c-meta__separator {
  flex: 1 1 14px;
  width: 14px;
  max-width: 56px;
  align-self: stretch;
  display: flex;
  align-items: center;
  box-sizing: content-box;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: currentColor;
  }
}

.c-gallery--blog {
  .c-card__frame {
    color: white;
  }
}

.c-card__letter[class] {
  line-height: 1.7;
  opacity: 0;
}

.c-card__letter {
  @include below(lap) {
    display: none;
  }
}

.has-post-thumbnail > .c-card {

  .c-card__letter {
    color: $color-white;
  }

  &:hover img,
  &.hover img {
    opacity: .6;
  }
}
