// Category widget
.widget_categories {

    ul {
        max-width: 100%;
        margin: 0;
        text-align: center;
    }

    .u-underlined-links & a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &.widget--full,
    &.widget--content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        @include spacing(padding-top, 1rem);
        @include spacing(padding-bottom, 1rem);
        border: solid currentColor;
        border-width: 2px 0;

        font-size: (18em/16);

        .widget__title {
            @include spacing(padding, 1rem 2rem);
            margin-bottom: 0;
        }

        .children {
            display: inline;
        }

        ul {
            padding-left: 0;
            list-style: none;
        }

        li {
            display: inline;
            @include spacing(padding, 0.5rem 1.5rem);
        }

        a {
            color: inherit;
            display: inline-block;
        }

        form {
            @include spacing(padding-left, 4rem);
        }
    }

    &.dark {
        border-top: 0;
        border-bottom: 0;
    }
}
